@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

.App{
    text-align: center;
    background: linear-gradient(#9d6b53,#90be6d);
    font-family: 'Signika', Arial, Helvetica, sans-serif;
}